@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    background-color: rgb(0,0, 0)
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nova Square', cursive;
}

.container {
    width: 1200px;
    min-height: 500px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 300px;
    height: 250px;
    background: #ff0;
    margin: 10px;
    box-sizing: border-box;
}

.container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
}
.container .box:hover .imgBox img{
    transform: scale(1.2);
}
.container .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10pm;
    right: 10px;
    height: 235px;
    background: rgba(0,0,0,0.8);
    transform: scaleY(0);
    transition: transform 0.5s;
}
.container .box:hover .details{
transform: scaleY(1);
}

.container .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 10px;
}
.container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ffd633;
}
.container .box .details .content p{
    margin: 10px 0 0;
    padding: 0;
}